.gif{
    width: 50%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    background: url(../img/1.gif) no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
}