/* Variables */
/* Color */
:root {
    --light-purple: #E3D7FF;
    --purple: #AFA2FF;
    --dark-purple: #7A89C2;
    --light-green: #E4F4E0;
    --dark-green: #89A881;
    --L2D-P1: linear-gradient(180deg, #E3D7FF 0%, #7A89C2 100%);
    --D2L-P1: linear-gradient(180deg, #7A89C2 0%, #E3D7FF 100%);
    --L2D-P2: linear-gradient(180deg, #AFA2FF 0%, #7A89C2 100%);
    --D2L-P2: linear-gradient(180deg, #7A89C2 0%, #AFA2FF 100%);
    --L2D-G: linear-gradient(180deg, #CBEAC3 0%, #89A881 100%);
    --D2L-G: linear-gradient(180deg, #89A881 0%, #CBEAC3 100%);
}

/* NORMALIZING RULES */
* {
    box-sizing: border-box;
}

body,
html {
    min-height: 100vh;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

/* END NORMALIZING RULES */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    width: 100%;
    top:0;
    z-index: 100;
}

nav {
    display: block;
}

.primary-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.primary-nav ul li {
    padding-left: 20px;

}

.primary-nav ul li a {
    text-decoration: none;
}
.primary-nav ul li a h2 {
    color: var(--light-green);
}


.primary-nav ul li a h2:hover {
    transition: 0.5s;
    color: var(--purple);
}

.pg-padding {
    padding: 30px 50px;
}

.logo-resize {
    width: 200px;
    height: auto;
}

header {
    background-color: var(--dark-purple);
    padding-bottom: 30px;
}

body {
    background-color: var(--light-green);
}

/* typography */
h1 {
    color: var(--dark-purple);
    /* h1 */
    font-family: Oswald;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

h2 {
    color: var(--dark-purple);
    /* h2 */
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
h3 {
        color: var(--dark-purple);
        /* h3 */
        font-family: Oswald;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        text-align: center;
        padding: 0;
        margin: 0;
        /* Make the background of the body behind transparent*/
        background-color: var(--light-green);
}


p {
    color: var(--dark-purple);
    /* p */
    font-family: oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.title {
    color: var(--light-green);
    background-color: var(--dark-purple);
    padding-bottom: 30px;
}
.extra-padding {
    margin:0;
    padding-bottom: 100px;
}
strong{
    color: var(--dark-purple);

}

p a{
    color: var(--dark-green);
    text-decoration: none;
}
p a:hover{
    color: var(--purple);
    text-decoration: none;
    transition: 0.5s;
}
.top {
    padding-top: 100px;
}

.para-center {
    text-align: center;
}

footer {
    background-color: var(--dark-purple);
    padding: 30px 50px;
    color: var(--light-green);
}
